---
---
@import "{{ site.theme }}";

div {
	font-size: 16px;
	line-height: 1.5;
	color: #555555;
}

a.site-nav {
	color: black;
	text-decoration: none;
}


a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

img.whitespace {
	margin-right: 20px;
}

img.whitespace2 {
	margin-top: 5px;
}

section {
  width:80%;
  float:right;
  padding-bottom:50px;
  padding-top:50px;
}

.site-nav .navlink {
	display: inline-block;
	vertical-align: middle;
	color: #bbbbbb;
  margin-right: 48px;
  font-size: 18px;
}

.navlink-left {
	width: 80%;
	float: left;
}

.navlink-right {
	margin-left: 80%;
	text-align: right;
}

.altmetric-embed {
	width: 10%;
	float: left;
}

.pub-entry {
	margin-left: 10%;
	text-align: left;
}

.pub-outer {
	padding-bottom: 20px;
}

.div-bar {
	border-bottom: 1px solid #e0e0e0;
}

.media-image {
	margin-right: 2px;
}
